[submodule "panda"]
  path = panda
  url = https://github.com/spektor56/panda.git
[submodule "opendbc"]
  path = opendbc
  url = https://github.com/spektor56/opendbc.git
[submodule "cereal"]
  path = cereal
  url = https://github.com/spektor56/cereal.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/spektor56/rednose.git
[submodule "body"]
  path = body
  url = https://github.com/spektor56/body.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/geohot/tinygrad.git
